*{
    margin: 0;
    padding: 0;
}
body{
    background: grey;
    color: azure;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(60, 49, 49);
    border-bottom: 2px solid #2c2c2c;
    padding: 20px 50px;
}
a{
    text-decoration: none;
    color: #cb2222;
}
header a{
    margin-left: 20px;
}
a:hover{
    text-decoration: underline;
}

.container{
    padding: 50px;
}
.post{
    width: 500px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 5px;
    background-color: #598191;
    color: #000;
}
.post h2{
    margin-bottom: 20px;
}
.post p{
    margin-bottom: 10px;
}
.post a{
    color: rgb(121, 22, 22);
    font-weight: 600;
}